<div class="custom-side-bar flex-shrink-0 bg-white border-end">
  <div class="p-3">
    <span class="fs-5 fw-semibold">Filtres</span>
  </div>
  <ul class="list-unstyled ps-0 border-top">
    <div class="p-3">
      <p class="mb-1 fs-5 fw-semibold">Catégories</p>
      <div *ngFor="let category of listCategories; let indexCat = index" class="form-check">

        <input class="form-check-input" type="checkbox" value="testcategory" id="checkBoxCategory{{indexCat}}"
               (click)="onCheckCategory(category,$event)">

        <label class="form-check-label" for="checkBoxCategory{{indexCat}}">
          {{ category }}
        </label>
      </div>
      <div *ngIf="listCategories.length == 0 ">
        Aucune catégorie disponible
      </div>
    </div>
  </ul>
  <ul class="list-unstyled ps-0 border-top">
    <div class="p-3">
      <p class="mb-1 fs-5 fw-semibold">Prix</p>
      <div class="d-flex justify-content-center">
        <input #minNum id="numberMin" type="number" placeholder="min" class="me-2" style="width: 45%;">
        <input #maxNum id="numberMax" type="number" placeholder="max" class="me-2" style="width: 45%;">
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-success m-3" (click)="onSendValues(minNum, maxNum)">Valider</button>
      </div>
    </div>
  </ul>
  <ul class="list-unstyled ps-0 border-top">
    <div class="p-3">
      <p class="mb-1 fs-5 fw-semibold">Avis</p>

      <div class="flex-column justify-content-start">
        <app-avis-bar (stateNumber)="onStateNumberChange($event)"></app-avis-bar>
        <button class="btn btn-success me-2" (click)="onSendRating()">Valider</button>
      </div>
    </div>
  </ul>
  <ul class="list-unstyled ps-0 border-top">
    <div class="p-3">
      <div class="flex-column justify-content-start">
        <button class="btn btn-success me-2" (click)="onReset()">Réinitialiser</button>
      </div>
    </div>
  </ul>
</div>
